#logo-container {
   float: ;
   display: block;
   width: 150px;
   height: auto;
   margin: 20px auto;


   
}
*{
   margin: 0;
   padding: 0;
   box-sizing: border-box;
}
#links{
   display: flex;
   
}
#picture{
   display: flex;
   position: relative;
   width: 1200px;
   height: 1200px;
   margin-left: 150px;
   
   border: #333333;
   margin-top: 0%;
   margin-bottom: auto;
   padding-bottom: 200px;
}
body {
   background-image:url ("public/images/myFavourite.JPG");
   font-family: Arial, sans-serif;
   line-height: 1.6;
}

header {
   background-color: #333;
   color: white;
   padding: 10px 0;
}

nav ul {
   list-style: none;
   display: flex;
   justify-content: center;
}

nav ul li {
   margin: 0 20px;
}

nav ul li a {
   color: white;
   text-decoration: none;
   font-size: 18px;
}

section {
   padding: 20px;
   text-align: center;
}

#home {
   display: flex;  
   height: 400px; 
   justify-content: center;
   align-items: center;
   color: white;
}

#home h1 {
   font-size: 3em;
}

button {
   background-color: #333;
   color: white;
   padding: 10px 20px;
   border: none;
   cursor: pointer;
}

button:hover {
   background-color: #444;
}

#services .services-list {
   display: flex;
   justify-content: space-around;
}

.service {
   width: 30%;
   padding: 20px;
   background-color: #f4f4f4;
   border-radius: 8px;
}
#gallery-links{
   display: flexbox;
   flex-wrap: ;
}

#gallery .gallery-images {
   display: flex;
   flex-direction: row;
flex:1;
   grid-template-columns: repeat(3);
   gap: 10px;
}

.gallery-images {
   display: flex;
   flex: 1;
   width: 250px;
   height: 250px;
   object-fit:cover ;
   
}
.gallery-images hover{
   zoom: 1;
}
.gallery-videos{
   width: 100px;
   height: 100px;
   display: grid;
   grid-auto-flow: column;
   margin: 0;
   padding: 0;
}

#contact form {
   display: flex;
   flex-direction: column;
   align-items: center;
}

#contact input, #contact textarea {
   width: 80%;
   padding: 10px;
   margin: 10px 0;
   border: 1px solid #ccc;
   border-radius: 5px;
}

footer {
   background-color: #333;
   color: white;
   padding: 10px;
   text-align: center;
}

/* Media Queries for Responsiveness */
@media screen and (max-width: 768px) {
   #service{
      flex-direction: column;
      display: flex;
   }
   .services-list {
       flex-direction: column;
       display: flex;
   }

   #gallery .gallery-images {
       grid-template-columns: 1fr 1fr;
   }
}

@media screen and (max-width: 480px) {
   .services-list {
      flex-direction: row;
      display: flex;
  }
   #home h1 {
       font-size: 2em;
   }

   nav ul {
       flex-direction: row;
   }

   nav ul li {
       margin: 10px 0;
   }

   .service {
       width: 80%;
       margin-bottom: 20px;
